:root{

    --primary-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --page-background-color:#FFFFFF;
    --additional-text-color:#434455;
    --footer-text-color:#F4F4FD;

}

/*Site header*/
.page {
    background-color:var(--page-background-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;

}

ul {
    list-style: none;
}

.logo{
    color:var(--accent-color);

    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 3%;
    text-decoration: none;
}

.logo span{
    color:var(--primary-text-color);
;}
.logo:hover,
.logo:focus{
    color:var(--accent-color);}

/*Site nav*/
.site-nav a{
    color:var(--primary-text-color);
    
    font-style: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{    
        color:var(--primary-text-color);
}

.auth-nav a{
    color:var(--additional-text-color);

    font-style: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 2%;
    text-decoration: none;}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
}

/*Buttons*/

.button{
    background-color: #E7E9FC;
    color: var(--accent-color);

    font-family: inherit;
    font-style: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
}

.button:hover ,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}    

/*Features*/
.features-name{
    font-style: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
}
.features-chapter{
    color:var(--additional-text-color);

    font-style: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;

}
/*Footer*/
.basement-logo{
    color: var(--accent-color);
    
    font-family: Raleway,sans-serif;
    font-style: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
}
.basement-logo span {
    color:var(--footer-text-color);

    font-family: Raleway, sans-serif;
    font-style: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;}
.basement{
    background-color: var(--primary-text-color);
}
.basement-text{
    color:var(--footer-text-color);
    font-style: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;

}