:root{

    --primary-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --page-background-color:#FFFFFF;
    --additional-text-color:#434455;
    --footer-text-color:#F4F4FD;

}

/*Site header*/
.page {
    background-color:var(--page-background-color);
    color: var(--additional-text-color);

    font-family: Roboto, sans-serif;

}

ul {
    list-style: none;
}

.logo{
    color:var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.logo .link{
    text-decoration: none;
}

.logo span{
    color:var(--primary-text-color);
;}
.logo:hover,
.logo:focus{
    color:var(--accent-color);}

/*Site nav*/
.site-nav a{
    color:var(--primary-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{    
        color:var(--primary-text-color);
}

.auth-nav a{
    color:var(--additional-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
}
/*Header index*/
.header{
     background-color: var(--primary-text-color
     );
     color: #FFFFFF;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.1;
     text-align: center;
     
}

.header-button{
    background-color: #404BBF;
    color: #FFFFFF;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    

}

/*Index Features*/
.function-name{
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}

.content-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
   

}

/*Index Team*/
.team{

    background-color: #F4F4FD;
}
.team-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

}
.specialist-name{
    font-weight:500;
    font-size: 20px;
    line-height: 1.2;

}

.job-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
/*Buttons portfolio*/

.button{
    background-color: #E7E9FC;
    color: var(--accent-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button:hover ,
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}    

/*Features*/
.features-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-chapter{
    color:var(--additional-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
/*Footer*/
.basement-logo{
    color: var(--accent-color);
    
    font-family: Raleway,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.basement-logo span {
    color:var(--footer-text-color);

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    }
.basement{
    background-color: var(--primary-text-color);
}
.basement-text{
    color:var(--footer-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}