/*Site header*/
.page {background-color:#FFFFFF;
color: #2E2F42;
font-family: 'Raleway';
}
ul {
    list-style: none;
}
.logo{color:#4D5AE5;
;}
.logo span{color: #2E2F42;
;}
.logo:hover,
.logo:focus{color: #4D5AE5;}

/*Site nav*/
.site-nav a{color:#2E2F42;}
.site-nav a:hover,
.site-nav a:focus{color:#4D5AE5;}
.auth-nav a{color:#434455;}
.auth-nav a:hover,
.auth-nav a:focus {
    color: #4D5AE5;
}
/*Buttons*/
.button{background-color: #E7E9FC;
color: #4D5AE5;;}
.button:hover , .button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/*Features*/
.features-chapter{color:#434455;}
/*Footer*/
.basement-logo{color: #4D5AE5}
.basement-logo span {color:#F4F4FD;}
.basement{background-color: #2E2F42;}
.basement-text{color:#F4F4FD;}